<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Login</th>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>
        {{user.login}}
      </td>
      <td>
        {{user.nom}}
      </td>
      <td>
        {{user.prenom}}
      </td>
    </tr>
  </tbody>
</table>

<h4 *ngIf="sessions.length!=0">Sessions disponibles</h4>
<app-sessions *ngFor="let s of sessions" [session]="s" (join)="joinSession($event)"></app-sessions>

<h4 *ngIf="sessionsLogin.length!=0">Sessions Rejointes</h4>
<app-registered-sessions *ngFor="let s of sessionsLogin" [session]="s" (quit)="quitSession($event)"></app-registered-sessions>


