<div>
  <form (ngSubmit)="onSubmit(form)" #form="ngForm" class="login">
    <div class="form-group">
      <label for="login_id">Login:</label>
      <input class="form-control" type="text" name="login" id="login_id" ngModel required>
    </div>
    <div class="form-group">
      <label for="password_id">Mot de passe:</label>
      <input class="form-control" type="password" name="password" id="password_id" ngModel required>
    </div>
    <div class="text-center"><button type="submit" class="btn btn-success" [disabled]="form.invalid">Envoyer</button></div>
  </form>
</div>
<app-alert *ngIf="badPwd" [message]="'Le mot de passe ne correspond pas à cet utilisateur !'" [type]="'danger'"></app-alert>


