.content {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 2;
  line-height: normal;
}

.gauge {
  margin: 20px;
}

