<div class="header">
  <mat-form-field>
    <mat-label>Rechercher</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input autocomplete="off">
  </mat-form-field>
  <button class="excel btn btn-success" (click)="dlExcel()"><i class="material-icons">get_app</i> Télécharger au format excel</button>
</div>

<div class="mat-elevation-z8">

  <table mat-table class="full-width-table" matSort [dataSource]="dataSource">
    <ng-container matColumnDef="login">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Login</th>
      <td mat-cell *matCellDef="let row">{{row.login}}</td>
    </ng-container>

    <ng-container matColumnDef="nodes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nodes</th>
      <td mat-cell *matCellDef="let row">{{row.nodes}}</td>
    </ng-container>

    <ng-container matColumnDef="solutions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Solutions</th>
      <td mat-cell *matCellDef="let row">{{row.solutions}}</td>
    </ng-container>

    <ng-container matColumnDef="fails">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fails</th>
      <td mat-cell *matCellDef="let row">{{row.fails}}</td>
    </ng-container>

    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
      <td mat-cell *matCellDef="let row">{{row.time}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Aucune données ne correspond à la recherche "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator #paginator
                 [length]="dataSource?.data.length"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[10, 20, 40, 50]">
  </mat-paginator>
</div>
